body {
  background-color: hsl(217, 47%, 14%);
}
div {
  background-color: hsl(216, 50%, 16%);
  margin-top: 50%;
  margin-left: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}
img {
  width: 80%;
  margin-top: 10%;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 20px;
}
h4 {
  margin-left: 8%;
  color: hsl(0, 0%, 100%);
  font-family: "Outfit", sans-serif;
}
p {
  color: hsl(214, 62%, 81%);
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  margin-left: 8%;
  width: 70%;
}
.div1 {
  margin-top: 3rem;
  margin-left: 40%;
  display: flex;
}
.img1 {
  color: rgb(154, 205, 50);
  margin-left: 0rem;

  margin-right: 0.2rem;
  height: 4%;
  width: 4%;
}
.p1 {
  font-size: 60%;
  margin-top: 17%;
  margin-left: 0rem;
  color: greenyellow;
}
.img2 {
  margin-right: 0.2rem;
  height: 4%;
  width: 4%;
}
.p2 {
  font-size: 60%;
  margin-top: 17%;
  margin-right: none;
  margin-left: 0rem;
}
hr {
  border: 1px solid hsl(214, 62%, 81%);
  border-radius: 0.3px;
}
.img3 {
  margin-right: 0.2rem;
  height: 54%;
  width: 34%;
}
